{% from 'scripts/macros.ts.j2' import binary_op_base, unary_op_base, binary_op_class, unary_op_class %}
import { Tensor } from '../tensor';
import {
  _broadcast_shape,
  _get_original_index_from_transposed_index,
  _get_original_index_kernel,
  _pad_shape
} from '../broadcasting';
import { Operation, BinaryOperation, UnaryOperation, nullOp, AccumulateGrad } from '../operations/base';
import { registerOperation } from '../operations/registry';

{{ unary_op_base("relu", "Math.max(a[x], 0)") }}
{{ unary_op_class("Relu", "relu", ["aFn.backward(dz.mul(a.gt(0)));"]) }}

{{ unary_op_base("sigmoid", "1 / (1 + Math.exp(-a[x]))") }}
{{ unary_op_class("Sigmoid", "sigmoid", ["aFn.backward(dz.mul(a.exp().add(1).pow(-2).reciprocal().mul(a.exp()).mul(-1)));"]) }}
